html,
body {
  font-size: 12px;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
  html,
  body {
    font-size: 14px;
  }
}

.eras ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  z-index: 50;
}

.main-header {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  background-color: #171717;
  padding: 1.2rem 4rem;
  top: 0;
  z-index: 100;
}

.main-header h1 {
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .main-header h1 {
    text-align: left;
  }
}

.footer {
  display: flex;
  justify-content: center;
  gap: 2em;
  background-color: #171717;
  padding: 1.2rem 4rem;
}

.footer button {
  text-align: center;
  background-color: #262626;
  padding: .4em 1.2em;
  border: none;
  border-radius: .3em;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

.title {
  margin: 0;
  font-size: 2em;
  font-family: "Helvetica";
  color: #f5f5f5;
  font-weight: lighter;
}

#nav-bar {
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
  margin-bottom: 3rem;
}

#nav-bar .search-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  margin-bottom: 1.5rem;
}

#nav-bar .form-group {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.form-group label {
  width: 100%;
  text-align: center;
}

#nav-bar .search-bar label {
  flex-grow: 1;
  margin-bottom: 1em;
}

#nav-bar .search-bar input,
#nav-bar .search-bar select {
  width: 100%;
}

#nav-bar .search-bar .dropdowns {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

.search-bar input,
.search-bar select {
  border: none;
  padding: .5em 1em;
  background-color: #e5e5e5;
  font-size: 1em;
}

.search-bar label {
  display: flex;
  gap: .7em;
  align-items: baseline;
  font-weight: bold;
}

@media screen and (min-width: 640px) {
  #nav-bar .search-bar .dropdowns {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  #nav-bar .search-bar {
    gap: 4em;
    flex-wrap: nowrap;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  #nav-bar .search-bar .dropdowns {
    gap: 4em;
  }

  #nav-bar .search-bar input {
    width: initial;
  }
}

#nav-bar .eras {
  display: block;
  text-align: center;
  margin: 2em 0 2em 0;
}

#nav-bar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2.5rem;
  margin: 1em 0 0 0;
}

#nav-bar button {
  font-size: 1.4em;
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: underline;
  text-underline-offset: .2em;
}

#nav-bar button:hover {
  color: #15803d;
}

#nav-bar button:active {
  color: #4ade80;
}

@media screen and (min-width: 768px) {
  #nav-bar ul {
    flex-wrap: nowrap;
  }

  #nav-bar .eras {
    margin-bottom: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  #nav-bar .eras {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 4rem;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  height: 100vh;
  background-color: #525252;
}

#hero .color-overlay {
  position: absolute;
  background-color: rgba(17, 24, 39, .9);
  width: 100%;
  height: 100%;
  z-index: 1;
}

#hero .text-overlay {
  display: none;
  color: #f5f5f5;
  font-size: 1.6em;
  text-align: right;
  margin-right: 6em;
  margin-bottom: 2em;
  z-index: 2;
}

#hero button {
  align-self: center;
  z-index: 2;
  margin-bottom: 2em;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  font-size: 1em;
  padding-bottom: .7em;
  width: 40%;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  #hero .text-overlay {
    display: block;
  }

  #hero button {
    width: 30%;
  }
}

@media screen and (min-width: 1024px) {
  #hero button {
    width: 20%;
  }
}

#hero #albums {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#hero .album {
  aspect-ratio: 1 / 1;
  width: 40em;
  background-color: white;
}

@media screen and (min-width: 768px) {
  #hero .album {
    width: 50em;
  }
}

#hero .one {
  position: absolute;
  left: -5%;
  top: -4em;
}

#hero .two {
  position: absolute;
  left: 8%;
  top: 40em;
}

#hero .three {
  position: absolute;
  left: 80%;
  top: 10em;
}

#hero .four {
  position: absolute;
  left: 45%;
  top: 20em;
}

#catalog {
  padding: 0 4em 8em 4em;
}

#card-container {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 50vh;
  gap: 100px 50px;
  width: 100%;
}

.card {
  width: 100%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .back {
  max-height: 800px;
}

@media only screen and (min-width: 680px) {
  .card {
    max-height: none;
    aspect-ratio: 1 / 1.5;
    width: 375px;
  }
}

.card:hover {
  transform: scale(1.02);
}

.card-content {
  box-sizing: border-box;
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  padding: 1em;
  color: #404040;
}

.card-content .card-side {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.card-content .back {
  padding: 1.2em;
  box-sizing: border-box;
}

.card-content .back .info {
  overflow-y: auto;
  scrollbar-width: thin;
  margin-bottom: 2em;
}

.card-content .back h2 {
  min-height: 2.5em;
  padding-bottom: .5em;
  margin-bottom: 1em;
  border-bottom: 1px solid black;
}

.card-content .back h3 {
  text-align: left;
  font-weight: bolder;
  margin-bottom: 0;
}

.card-content .back p {
  margin-top: 0;
}

.card-content .back ul {
  margin-top: 0;
}

.card-content .back a {
  color: #0284c7;
}

.card img {
  aspect-ratio: 1 / 1;
  width: 100%;
  margin-bottom: 1em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: .3em;
  text-align: center;
  font-size: 20px;
}

.card-content h3 {
  margin-top: 0;
  margin-bottom: 1.4em;
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.card-content button {
  background-color: #e5e5e5;
  width: 100%;
  padding: .5em;
  border: none;
}

.card-content .favorite-btn:hover {
  background-color: #15803d;
  color: white;
}

.card-content .favorite-btn:active {
  background-color: #4ade80;
  color: white;
}

.card-content .delete-btn:hover {
  background-color: #991b1b;
  color: white;
}

.card-content .delete-btn:active {
  background-color: #dc2626;
  color: white;
}

.card-content .edit-btn:hover {
  background-color: #075985;
  color: white;
}

.card-content .edit-btn:active {
  background-color: #0284c7;
  color: white;
}


.card-content .change-content-buttons {
  margin-top: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

.card-content .front .button-row {
  display: block;
}

.card-content .front .edit-btn {
  margin-bottom: .55em;
}

.card-content .front ul {
  align-self: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .card-content .front .button-row {
    display: flex;
    gap: .5em;
  }

  .card-content .front .edit-btn {
    margin-bottom: 0;
  }
}
